input.ng-invalid.ng-dirty,
input.ng-invalid.ng-touched {
  border-color: red;
}

input.ng-invalid.ng-dirty + label,
input.ng-invalid.ng-touched + label {
  color: red;
}

.invalid-feedback {
  display: block;
}

#thanksgiving {
  display: block!important;
}

.order-button span {
  font-size: 18px;
  max-width: 177px;
}
